<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="studentService" scope="prototype"
		class="com.changh.eschool.service.impl.StudentServiceImpl">
		<property name="studentDao" ref="studentDao"></property>
		<property name="addressDao" ref="addressDao">
		</property>
	</bean>
	<bean id="orderService" scope="prototype"
		class="com.changh.eschool.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao"></property>
		<property name="studentDao" ref="studentDao">
		</property>
		<property name="gradeDao" ref="gradeDao">
		</property>
		<property name="classPackageDao" ref="classPackageDao">
		</property>
		<property name="classDetailDao" ref="classDetailDao">
		</property>
		<property name="sendDao" ref="sendDao">
		</property>
		<property name="itemDao" ref="itemDao">
		</property>
		<property name="tradeDao" ref="tradeDao">
		</property>
	</bean>
	
	<bean id="classPackageService" scope="prototype"
		class="com.changh.eschool.service.impl.ClassPackageServiceImpl">
		<property name="classPackageDao" ref="classPackageDao">
		</property>
	</bean>
	<!-- <bean id="teacherService" scope="prototype"
		class="com.changh.eschool.service.impl.TeacherServiceImpl">
		<property name="teacherDao" ref="teacherDao">
		</property>
	</bean>-->
	<bean id="examCategoryService" scope="prototype"
		class="com.changh.eschool.service.impl.ExamCategoryServiceImpl">
		<property name="examCategoryDao" ref="examCategoryDao">
		</property>
	</bean>
	<bean id="gradeService" scope="prototype"
		class="com.changh.eschool.service.impl.GradeServiceImpl">
		<property name="gradeDao" ref="gradeDao">
		</property>
		<property name="classPackageDao" ref="classPackageDao">
		</property>
	</bean>
	<bean id="cartService" scope="session"
		class="com.changh.eschool.service.impl.CartServiceImpl">
		<aop:scoped-proxy/>
		<property name="gradeDao" ref="gradeDao"></property>
		<property name="classPackageDao" ref="classPackageDao"></property>
	</bean>
	<bean id="classDetailService" scope="prototype"
		class="com.changh.eschool.service.impl.ClassDetailServiceImpl">
		<property name="classDetailDao" ref="classDetailDao">
		</property>
	</bean>
	<bean id="itemsService" scope="prototype"
		class="com.changh.eschool.service.impl.ItemsServiceImpl">
		<property name="itemDao" ref="itemDao">
		</property>
	</bean>
	<bean id="studyCardService" scope="prototype"
		class="com.changh.eschool.service.impl.StudyCardServiceImpl">
		<property name="studyCardDao" ref="studyCardDao"></property>
		<property name="studentDao" ref="studentDao"></property>
		<property name="rechargeRecordDao" ref="rechargeRecordDao"></property>
		<property name="tradeDao" ref="tradeDao"></property>
	</bean>
	<bean id="askOrComplainService" scope="prototype"
		class="com.changh.eschool.service.impl.AskOrComplainServiceImpl">
		<property name="askOrComplainDao" ref="askOrComplainDao">
		</property>
		<property name="replyDao" ref="replyDao">
		</property>
	</bean>
	<bean id="questionService" scope="prototype"
		class="com.changh.eschool.service.impl.QuestionServiceImpl">
		<property name="questionDao" ref="questionDao"></property>
		<property name="answerDao" ref="answerDao"></property>		
	</bean>
		<bean id="teacherService" scope="prototype"
		class="com.changh.eschool.service.impl.TeacherServiceImpl">
		<property name="teacherDao" ref="teacherDao"></property>
		</bean>	
	<bean id="questionCollectService" scope="prototype"
		class="com.changh.eschool.service.impl.QuestionCollectServiceImpl">
		<property name="questionCollectDao" ref="questionCollectDao"></property>		
	</bean>
	<bean id="studyRecordService" scope="prototype"
		class="com.changh.eschool.service.impl.StudyRecordServiceImpl">
		<property name="studyRecordDao" ref="studyRecordDao">
		</property>
	</bean>
	<bean id="commentService" scope="prototype"
		class="com.changh.eschool.service.impl.CommentServiceImpl">
		<property name="commentDao" ref="commentDao">
		</property>
	</bean>
	<bean id="sendService" scope="prototype"
		class="com.changh.eschool.service.impl.SendServiceImpl">
		<property name="sendDao" ref="sendDao"></property>
		<property name="addressDao" ref="addressDao">
		</property>
	</bean>
	<bean id="webInfoService" scope="prototype"
		class="com.changh.eschool.service.impl.WebInfoServiceImpl">
		<property name="webInfoDao" ref="webInfoDao"></property>		
	</bean>
<!-- 	<bean id="questionCollectService" scope="prototype"
		class="com.changh.eschool.service.impl.QuestionCollectServiceImpl">
		<property name="questionCollectDao" ref="questionCollectDao"></property>		
	</bean> -->
	<!--  <bean id="administratorService" scope="prototype"
		class="com.changh.eschool.service.impl.AdministratorServiceImpl">
		<property name="administratorDao" ref="administratorDao">
		</property>
	</bean>
	<bean id="expressCompanyService" scope="prototype"
		class="com.changh.eschool.service.impl.ExpressCompanyServiceImpl">
		<property name="expressCompanyDao" ref="expressCompanyDao">
		</property>
	</bean>
	<bean id="studyCardService" scope="prototype"
		class="com.changh.eschool.service.impl.StudyCardServiceImpl">
		<property name="studyCardDao" ref="studyCardDao">
		</property>
	</bean>
	
	<bean id="lectureService" scope="prototype"
		class="com.changh.eschool.service.impl.LectureServiceImpl">
		<property name="lectureDao" ref="lectureDao">
		</property>
	</bean>
	<bean id="itemsService" scope="prototype"
		class="com.changh.eschool.service.impl.ItemsServiceImpl">
		<property name="itemsDao" ref="itemsDao">
		</property>
	</bean>
	<bean id="sendService" scope="prototype"
		class="com.changh.eschool.service.impl.SendServiceImpl">
		<property name="sendDao" ref="sendDao">
		</property>
	</bean> -->
	<bean id="examPaperService" scope="prototype" class="com.changh.eschool.service.impl.ExamPaperServiceImpl">
		<property name="examPaperDao" ref="examPaperDao"></property>
		<property name="examQuestionDao" ref="examQuestionDao"></property>
		<property name="examRecordDao" ref="examRecordDao"></property>
		<property name="examRuleDao" ref="examRuleDao"></property>
	</bean>
	<bean id="examQuestionErrorService" scope="prototype" class="com.changh.eschool.service.impl.ExamQuestionErrorServiceImpl">
		<property name="examQuestionErrorDao" ref="examQuestionErrorDao"></property>
	</bean>
	<!-- 2013.07.12  -->
	<bean id="appAdviceService" scope="prototype" class="com.changh.eschool.service.impl.AppAdviceServiceImpl">
		<property name="appAdviceDao" ref="appAdviceDao"></property>
	</bean>
</beans>