@charset "utf-8";

/* CSS Document */

body{FONT-SIZE: 12px; background:url(../images/topnav_bg.png) left top repeat-x; background-color:#fff; color:#010101; FONT-FAMILY: 宋体, serif; margin:0}

img{border:0px;}

a{text-decoration:none; color:#000000;}

a:hover{ text-decoration:underline;}

*{margin:0; padding:0;}



img {border:0}

ul,li{margin:0; padding:0; list-style:none}

div { overflow:hidden}

a{color: #333;	text-decoration:none;}

a:hover {color: #cc0000;text-decoration:underline}

#cbox {clear:both;width:960px;margin:0 auto}

.topnav {clear:both;width:960px;height:25px;float:left}

.topnavleft {height:25px;display:inline;float:left;line-height:25px;color:#ddd}

.topnavleft a {color:#676767}

.topnavleft a:hover {color:#cc0000}

.topnavleft a.index {height:25px;display:inline;float:left;	background:url(../images/jt-jzgc.gif) right center no-repeat;padding-right:15px;	margin-right:3px}

.topnavright {height:25px;display:inline;float:right;line-height:25px;padding-right:5px;text-align:right}

.topnavright a.login {width:57px;height:25px;display:inline;float:left;line-height:25px;color:#fff;background:url(../images/tlogin.gif) center center no-repeat;text-align:center;	margin-right:10px}

.logos{width:960px; height:75px; margin:0 auto; padding-top:20px;}

.logo{float:left; display:inline;}

.pindao{float:left; display:inline;}

.fenlei{float:right; display:inline;}

.fenlei dl{float:left; display:inline; text-align:center; display:block; margin-left:30px; margin-right:30px;}

.fenlei dl dt{margin-bottom:6px;}

.fenlei dl dt a:hover{color:#ff0000;}

.nav{width:960px; height:auto; margin:0 auto; clear:both; display:block; overflow:hidden;}

.navleft{width:6px; float:left; display:inline;}

.navright{width:13px; float:left; display:inline;}

.navcenter{width:941px; height:62px; display:inline; float:left; background:url(../images/navbg2.png) repeat-x;}

.zixun{float:left; display:inline;}

.zixuncon{float:left; height:55px;padding-left:2px; padding-right:3px; width:214px; display:inline; background:url(../images/navbg.png) repeat-x; line-height:24px; padding-top:7px;}

.zixuncon a{  color:#ffffff; margin-left:4px; }













.zixun2{float:left; display:inline;}

.navx{width:950px; height:45px; line-height:32px; background:url(../images/navx.png) no-repeat; padding-left:10px;}



.mains1{width:960px; margin:0 auto; float:left;}

.ms1_left{width:293px; height:248px; float:left; display:inline;}

.ms1_center{width:390px; height:248px; line-height:24px; margin-left:9px; margin-right:10px; float:left; display:inline;}

.toutiaos{border-bottom:1px dashed #cccccc; overflow:hidden;}

.hui{color:#999999;}

.toutiaos{padding-bottom:10px; margin-bottom:10px; line-height:26px;}

.toutiaos li{padding-left:16px; padding-right:5px; overflow:hidden;}

.toutiaos .toutiao{width:400px; height:35px; float:left; line-height:35px; text-align:center; padding:0; overflow:hidden}

.toutiaos .toutiao a{font-family:"微软雅黑"; color:#eb4000; font-size:16px; text-align:center;}

.toutiaos li a{margin-left:2px; margin-right:2px;}

.toutiaos li a span{color:#ff0000;}

.toutiao2{padding-bottom:10px; margin-bottom:10px; line-height:26px;}

.toutiao2 li{padding-left:16px; padding-right:5px; line-height:26px;}

.toutiao2 .toutiao{width:400px; height:35px; float:left; line-height:35px; overflow:hidden; text-align:center; padding:0;}

.toutiao2 .toutiao a{font-family:"微软雅黑"; color:#010000; font-size:16px; text-align:center;}

.toutiao2 li a{ margin-left:2px; margin-right:2px; overflow:hidden;}

.toutiao2 li a span{color:#ff0000;}

.toutiao2 li img{margin-left:-16px; margin-right:5px; margin-top:8px; float:left; display:inline;}

.ms1_right{width:255px; height:248px; float:right; display:inline;}

.title1{width:255px; height:29px; font-family:"微软雅黑"; background:url(../images/titlebg.png) no-repeat; line-height:29px; font-size:14px; font-weight:bold; color:#333333;}

#kc0{background:url(../images/hga.png) no-repeat; color:#e41111;}

#kca0{background:url(../images/hga.png) no-repeat; color:#e41111;}

#kcb0{background:#2282C3; font-weight:bold;}

#kcc0{background:#2282C3; font-weight:bold;}

#kcd0{display:block; width:160px; height:29px; background:url(../images/kba.png) no-repeat; color:#ffffff; font-weight:bold;}

#kcd1,#kcd2,#kcd3,#kcd4,#kcd5,#kcd6{display:block; width:160px; height:29px;}



.kcdty{display:block; width:160px; height:29px;}

.title1 a{ display:block; width:82px; height:29px; line-height:29px; text-align:center; float:left; display:inline;}

.title1_con{width:233px; height:auto; font-family:"微软雅黑"; border:1px solid #d0d1d1; border-top:none; padding-left:10px; padding-right:10px; line-height:24px; padding-top:10px; padding-bottom:11px; overflow:auto;}

.title1_con a{color:#5d5d5d;}

.mains2{overflow:hidden; margin-top:10px; float:left; display:inline;}

.ms2_left{float:left; display:inline;}

.ms2_left_title{width:294px; height:29px; line-height:29px; padding-left:10px; background:url(../images/title2.png) no-repeat; font-size:14px; font-weight:bold; font-family:"微软雅黑";}

.ms2_left_con{width:292px; height:auto; border:1px solid #d0d1d1; border-top:none;}

.ms2_left_con dl{width:292px; height:90px; padding-top:15px; padding-left:12px;}

.ms2_left_con dl dt{float:left; display:inline;}

.ms2_left_con dl dd{float:left; display:inline;}

.ms2_left_con dl dd ul li{background:url(../images/dian.png) no-repeat 0px 9px; line-height:22px; margin-left:10px;}

.ms2_left_con dl dd ul li a{margin-left:7px; font-family:"微软雅黑";}

.tubiao{width:282px; float:left; display:inline; padding-left:10px; * padding-left:0px;}

.tubiao li{height:28px; line-height:18px; background:url(../images/tubiao.png) no-repeat;}

.tubiao li a{margin-left:26px; font-family:"微软雅黑";}

.ms2_center{width:387px; float:left; display:inline; height:auto;}

.ms2_center_title{height:29px; line-height:29px; font-size:14px; font-weight:bold; font-family:"微软雅黑"; background:url(../images/title3.png) no-repeat;}

.ms2_center_title a{display:block; width:82px; height:29px; text-align:center; line-height:29px; float:left; display:inline;}

.ms2_center_con{width:375px; border:1px solid #d0d1d1; border-top:none; padding-left:10px; padding-top:6px; padding-bottom:7px;}

.ms2_center_con ul li{ background:url(../images/dian2.png) no-repeat 0px 10px; height:24px; line-height:24px;}

.ms2_center_con ul li span{ float:right; margin-right:20px;}

.ms2_center_con ul li a{margin-left:10px; float:left;}

.toutiao3{width:375px; text-align:center; font-size:16px; font-weight:bold; font-family:"微软雅黑"; background:none; padding-top:5px; padding-bottom:7px;}

.toutiao3 a{margin-left:0px;}

.ms2_right{float:left; display:inline; margin-left:14px;}

.mingshi{width:253px; border:1px solid #d0d1d1; border-top:none; padding-top:6px; padding-bottom:6px; text-align:center;}

.mingshi a{float:left; display:inline; margin-left:8px;}

.mingshi a img{margin-bottom:6px; margin-top:3px;}

.ad{width:960px; height:90px; float:left; display:inline; margin-top:10px;}

.kebiao{width:962px; float:left; display:inline;}

.kb_title{width:938px; float:left; display:inline; height:37px; padding-right:10px; padding-left:10px; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1; background:url(../images/kbtbg.png) repeat-x; margin-top:10px;}

.kb_title img{margin-top:12px; float:left; display:inline;}

.kb_title a{float:right; display:inline; line-height:37px; margin-right:2px; margin-left:2px;}

.kb_kong{width:958px;height:10px; border:1px solid #d1d1d1; border-top:none; border-bottom:none; float:left; display:inline;}

.tuijian{width:958px; float:left; display:inline; border:1px solid #d1d1d1; border-top:none; padding-top:10px; padding-bottom:10px;}

.tj_pic{width:670px; height:auto; float:left; display:inline; margin-left:10px; margin-right:10px; }

.tj_pic h1{ padding-top:0px; margin-left:30px; font-size:15px;font-family:'微软雅黑';letter-spacing:2px; color: #000000; width:300px;}

.left_jt{width:23px; height:35px; float:left; display:inline; margin-top:35px;}

.center_pic{width:654px; float:left; display:inline;}

.center_pic dl{width:155px; float:left; display:inline; text-align:center;}

.center_pic dl dt img{padding:2px; border:1px solid #cccccc; margin-bottom:4px;}

.right_jt{width:23px; height:35px; float:right; display:inline;}





.mszd{width:260px; float:right; height:auto;}

.mszd_title{width:260px; margin-top:7px; margin-bottom:5px;}

.mszd_title a{background:#999999; display:block; float:left; display:inline; color:#ffffff; padding:4px 6px; margin-right:3px;}

.mszd_con ul li{height:24px; line-height:24px;}

.mszd_con ul li a{height:24px; line-height:24px; font-family:"微软雅黑";}

.mszd_title a:hover{color:#ffffff;}

.bkzx{width:938px; padding-left:20px; border:1px solid #d1d1d1; border-top:none;}

.bkzx1{width:320px; float:left; display:inline; margin-top:15px; margin-left:5px;}



.bkzx1_title{width:320px; height:24px; background:url(../images/titlebg2.png) no-repeat 0px 23px;}

.bkzx1_title a{ display:block; width:68px; height:22px; background:url(../images/hgh.png) repeat-x; line-height:22px; float:left; display:inline; border:1px solid #d1d1d1; text-align:center; margin-left:10px;}

.bkzx1_title #ms{border-top:2px solid #eb0000;}



.bkzx1_title .fudongq{display:block; width:68px; height:22px; background:url(../images/hgh.png) repeat-x; line-height:22px; float:left; display:inline; border:1px solid #d1d1d1; text-align:center; margin-left:10px; border-top:2px solid #2282C3; font-weight:bold;}



.bkzx1_title .fudongx{width:68px; display:block; float:left; display:inline; height:22px; background:url(../images/hgq.png) repeat-x;}

.shownones {display:none}







.mianshi{padding-top:15px;}

.mianshi li{height:24px; line-height:24px; overflow:hidden; background:url(../images/dian2.png) no-repeat 0px 6px;}

.mianshi li a{margin-left:10px; font-family:"微软雅黑";}

.mspic{padding-top:6px;}

.mspic dt{width:82px; height:83px; float:left; display:inline; background:url(../images/lsbg.png);}

.mspic dt img{margin-top:3px; margin-left:3px;}

.mspic dd{float:left; display:inline; line-height:24px;}

.mspic dd ul{padding-left:10px;}

.mspic dd ul li{background:url(../images/dian2.png) no-repeat 0px 10px; height:26px; line-height:26px;}

.mspic dd ul li a{margin-left:8px; font-family:"微软雅黑";}

.mszd_con{ overflow:hidden;}

.mszd_con dl{width:260px; border-bottom:1px dashed #d1d1d1; overflow:hidden; padding-bottom:15px; margin-bottom:15px;}

.mszd_con dl dt{float:left; display:inline; margin-right:10px;}

.mszd_con dl dt img{border:1px solid #cbcbcb;}

.mszd_con dl dd{width:150px;float:left; display:inline; line-height:20px; font-family:"微软雅黑";}

.mszd_con dl dd a{color:#767676;}

.fudao{width:958px; height:auto; border:1px solid #d1d1d1; border-top:none; overflow:hidden; padding-bottom:10px;}

.fd_left{width:665px; float:left; display:inline; padding-left:15px;}



.fd_right{float:right; display:inline;}

.paihang{width:260px; overflow:hidden; margin-bottom:12px;}

.paihang li{width:260px; height:26px; line-height:26px; overflow:hidden; float:left; margin-bottom:0px;}

.paihang .xiangs{height:1px; display:block; overflow:hidden;}

.paihang .xiangs img{display:block; line-height:1px;}

.paihang span{ display:block; float:left; display:inline; width:16px; height:18px; text-align:center; margin-right:10px;}

.paihang a{float:left; display:inline;}

.ad2{margin-bottom:12px;}

.ad2 img{border:1px solid #e8e8e8; padding:1px;}

.tscon{width:958px; border:1px solid #d1d1d1; border-top:none; overflow:hidden; float:left; display:inline;}

.tscon ul{width:157px; float:left; display:inline; overflow:hidden; text-align:center; line-height:20px; padding-top:10px; padding-bottom:10px; font-family:"微软雅黑";}

.tscon ul li .span2{ text-decoration:line-through; color:#999999;}

.tscon ul li .span3{color:#ff0000; font-size:14px; font-weight:bold;}

.hzhb{width:928px; border:1px solid #d1d1d1; border-top:none; padding:10px 15px;}

.hzhb ul li{float:left; display:inline; background:url(../images/dian3.png) no-repeat 0 10px; width:112px; line-height:24px;}

.hzhb ul li a{margin-left:10px;}



.copyright{width:960px; text-align:center; padding-top:20px; line-height:20px; padding-bottom:20px; font-family:Verdana, Arial, Helvetica, sans-serif}

/*焦点图和试听视频*/

.container {WIDTH:293px;HEIGHT:248px; text-align:center; margin:0 auto;}

.container A IMG {WIDTH: 293px;	HEIGHT: 248px}

.container IMG {BORDER-BOTTOM-STYLE: none;BORDER-RIGHT-STYLE: none;	BORDER-TOP-STYLE: none;	BORDER-LEFT-STYLE: none}

.td_f A IMG {PADDING-BOTTOM: 0px;MARGIN: 0px;PADDING-LEFT: 0px;	PADDING-RIGHT: 0px;	PADDING-TOP: 0px}

.num {POSITION: absolute;WIDTH: 90px;FLOAT: right;TOP: 225px;LEFT: 202px}

.num li {TEXT-ALIGN: center;LINE-HEIGHT: 15px;LIST-STYLE-TYPE: none;MARGIN: 1px;WIDTH: 15px;FONT-FAMILY: Arial;	BACKGROUND: url(../images/flashbutton.gif) no-repeat -15px 0px;	FLOAT: left;	HEIGHT: 15px;COLOR: #86a2b8;FONT-SIZE: 12px;CURSOR: pointer}

.num li.on {LINE-HEIGHT: 15px;WIDTH: 15px;	BACKGROUND: url(../images/flashbutton.gif) no-repeat;	HEIGHT: 15px;	COLOR: #ffffff}

.tupian_shipin{width:987px; margin:0 auto; overflow:hidden; background:#ffffff; margin-left:7px; padding-top:10px;}

.tupian{width:300px; float:left; display:inline;}

.pic{width:293px; text-align:center; margin:auto;}

.picx{width:293px; text-align:center; margin:auto;}

.shipin{float:right; display:inline;}

.st{width:987px; margin:0 auto; margin-left:7px;}

.st img{ display:block;}



.bangyang dl{width:82px; height:90px; text-align:center; float:left; display:inline;}

.bangyang dl dt img{padding:2px; border:1px solid #cccccc; margin-bottom:3px;}

.blk_18 {

 overflow:hidden;

 zoom:1;

 font-size:9pt;





 width:652px;

 margin-top:8px;

}

.blk_18 .pcont {

 width:570px;

 float:left;

 overflow:hidden;

 padding-left:8px;

}

.blk_18 .ScrCont {

 width:32766px;

 zoom:1;

 margin-left:-5px;

}

.blk_18 #List1_1, .blk_18 #List2_1 {

 float:left;

}

.blk_18 .LeftBotton, .blk_18 .RightBotton {

 width:25px;

 height:54px;

 float:left;

 background:url(../images/left_jt.png) no-repeat 3px 15px;

}

.blk_18 .LeftBotton {

 background-position: 0 0;

 margin:26px 5px 0;

}

.blk_18 .RightBotton {

  background:url(../images/right_jt.png) no-repeat 3px 5px;

 width:25px;

 height:54px;

 float:left;

 margin-top:23px;

 margin-left:3px;

}



.blk_18 .pl img {

 display:block;

 cursor:pointer;

 border:none;

 padding-right:15px;

}

.blk_18 .pl {

 width:138px;

 border:1px solid #f3f3f3;

 float:left;

 text-align:center;

 line-height:24px;

 margin:0px 5px;

}

/*课表*/

.kecheng{width:958px; float:left; height:auto; display:inline; border-top:1px solid #d1d1d1; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1; float:left;}

.kc_left{width:160px;display:inline; float:left;}

.kc_left ul li{width:160px; text-align:center; height:30px; line-height:30px; border-bottom:1px solid #efefef;}

.kc_right{width:798px; display:inline; float:right; }

.kb_con tr td{ border-bottom:1px solid #efefef; border-right:1px solid #efefef; border-left:1px solid #efefef; text-align:center; height:30px; line-height:30px;}

.kb_con tr td span{color:#ff0000;}

.kb_con tr td a{color:#ff0000;}

.kb_en {

	font-size:12px;

	font-family:Verdana, Arial, Helvetica, sans-serif

}

.kb_jg {

	font-weight:bold

}

.kb_tle a{ color:#000}

.kb_tle a:hover { color:#ff0000}

/*bottom*/

.bottom {

	clear:both;

	width:960px;

	display:inline;

	float:left;

	padding:15px 0

}

.bottom li {

	width:960px;

	display:inline;

	float:left;

	line-height:20px;

	padding:3px 0;

	font-family:Arial, Helvetica, sans-serif;

	text-align:center

}

.contitle span{ float:right; color:#999999;}



.contitle a{ float:left; }





/*--------------------以下是内容-----------------------*/

#content {
    width:960px;
    margin:10px auto; clear:both;
}

#content #border{
     display:block;
     float:left;
     width:230px;
     height:280px;	
     margin-bottom:10px;
}

#content #border h2{
     padding-left:20px;	
     background:url(bgtitle.jpg) repeat-x; 
     height:30px; 
     line-height:30px; 
     font-size:14px; 
     font-weight:700;
     border-bottom:1px #dfe0e0 solid;
}

#content #border h2 a{
	background:url(titlebt.jpg) no-repeat 0 3px; 
	padding-left:20px; 
	color:#e10102; 
	margin-left:10px;
}

#content #border ul {
  padding-top:8px;
  padding-left:2px;
  width:224px;
}

#content #border ul li {
line-height:24px;
}

#content div.xueli{
	display:block;
	float:left;
   width:350px;
   height:280px;
   margin-left:12px;
   border:1px solid  #d1d1d1;
   margin-bottom:10px;

}

#content div.xueli h2{
	padding-left:20px;	
	background:url(jiaoyu_bg.jpg) repeat-x; 
	height:30px; 
	line-height:30px; 
	font-size:14px; 
	font-weight:700;
	border-bottom:1px #d1d1d1 solid;
	
}
#content div.xueli h2 span{float:left;}
#content div.xueli h2 a {
float:right; margin-right:5px;
  
}

#content div.xueli h3 {
 /*  color:#242424;	*/
	
   text-align:center;
   margin-top:10px;


}
#content div.xueli h3 a {
   	  color:red;	
   text-align:center;
   font-size:18px;
}

#content div.xueli p {
   border-bottom:1px dashed #ccc;	
   text-indent:-9999px;
   width:87%;
   margin:0 auto;
   margin-top:-5px;
}

#content div.xueli ul.one{
  	display:block;
  	float:left;
  	width:300px;
  	margin-top:5px;
  	margin-left:10px;
}

#content div.xueli ul.one li {
   	height:25px;
   	line-height:25px;
	display:block;
}
#content div.xueli ul.one li span{
   	float:right;
	padding-right:8px;
	
}

#content div.xueli ul.two{
 display:block;
 float:right;
 width:50px;
 margin-top:5px;
}

#content div.xueli ul.two li {
  height:25px;
   	line-height:25px;
   	color:red;
}